# Byte-compiled / optimized / DLL files
__pycache__/
.cache/
*.py[cod]

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Sphinx doc
docs/_build/
docs/_static/
docs/_templates/

# py.test
*,cover
.coverage

# Vagrant
Vagrantfile
.vagrant


